
$principal:rgb(64, 129, 69);

$primary: $principal;
$enable-shadows: true;
$enable-gradients: true;
$btn-padding-y:0.8rem;
$btn-padding-x:1.5rem;
$btn-border-radius:1rem;


@import "../libs/bootstrap/scss/bootstrap";

.btn-primary{
    border-bottom: 3px solid rgba(10, 9, 9, 0.9);
}
.custom-class{
    display: none;
}

@include media-breakpoint-up(xs){
    .custom-class {
        display: block;
        background: #cfc171;
        height: 300px;
    }
}

@include media-breakpoint-up(sm){
    .custom-class {
        display: block;
        background: #115db3;
        height: 200px;
    }
}

@include media-breakpoint-up(md){
    .custom-class {
        display: flex;
        background: #16cf4e;
        height: 400px;
    }
}
@include media-breakpoint-up(lg){
    .custom-class {
        display: flex;
        background: #db1da2;
        height: 200px;
    }
}
